[Desktop Entry]
Version=1.1
Type=Application
Name=Rider
Icon=/opt/rider/bin/rider.png
Exec=/opt/rider/bin/rider.sh
Actions=
Categories=Development;
StartupWMClass=jetbrains-rider
