[Desktop Entry]
Version=1.1
Type=Application
Name=NetBeans
Icon=/opt/netbeans/nb/netbeans.icns
Exec=/opt/netbeans/bin/netbeans
Actions=
Categories=Development;
StartupWMClass=Apache NetBeans IDE 22
