[Desktop Entry]
Version=1.1
Type=Application
Name=IntelliJ IDEA
Icon=/opt/ideaIC/bin/idea.png
Exec=/opt/ideaIC/bin/idea.sh
Actions=
Categories=Development;
StartupWMClass=jetbrains-idea-ce
