[Desktop Entry]
Version=1.1
Type=Application
Name=PyCharm
Icon=/opt/pycharmc/bin/pycharm.png
Exec=/opt/pycharmc/bin/pycharm.sh
Actions=
Categories=Development;
StartupWMClass=jetbrains-pycharm-ce
