[Desktop Entry]
Version=1.1
Type=Application
Name=Python3
NoDisplay=true
Icon=applications-python
Exec=python3
Actions=
MimeType=text/plain;application/x-zerosize;
Categories=Development;System;
